@charset "utf-8";

/*Loader*/
#Loader{
    background-color: #000000;
}
#Loader .main{
    background: url(../../img/loading.jpg);
}
#Loader img{
    position: absolute;
    top: 232px;
    left: 307px;
    width: 85px;
    height: 659px;
}
#Loader .word{
    position: absolute;
    width: 352px; height: 98px;
    top: 952px;
    left: 158px;
    line-height: 98px;
    text-align: center;
    color: #000000;
    font-size: 60px;
    font-weight: bold;
}



/*Index*/
#Index{
    background-color: #000000;
}
#Index .call1{
    position: absolute;
    width: 318px; height: 233px;
    left: 212px; top: 858px;
}
#Index .call2{
    position: absolute;
    width: 370px; height: 343px;
    left: 164px; top: 748px;
    display: none;
}
#Index .call_btn{
    position: absolute;
    width: 318px; height: 233px;
    left: 212px; top: 858px;
}

/*#Index .pic{*/
    /*position: absolute; left: 67px; top: 150px;*/
    /*width: 548px; height: 814px;*/
    /*!*background: url(../../img/index/pic.png);*!*/
    /*z-index: 1;*/
/*}*/
/*#Index .start{*/
    /*position: absolute; left: 260px; top: 536px;*/
    /*width: 179px; height: 148px;*/
    /*z-index: 10000;*/
/*}*/
/*#Index .top{*/
    /*position: absolute;*/
    /*top: 47px;*/
    /*left:157px;*/
    /*!*background: url("../../img/index/face1_r3.png");*!*/
    /*width:329px;*/
    /*height: 128px;*/
/*}*/
/*#Index .topWheel{*/
    /*position: absolute;*/
    /*top: 67px;*/
    /*left:215px;*/
    /*!*background: url("../../img/index/face2_r1.png");*!*/
    /*width:256px;*/
    /*height: 256px;*/
/*}*/
/*#Index .bottom{*/
    /*position: absolute;*/
    /*top: 957px;*/
    /*left:191px;*/
    /*!*background: url("../../img/index/face1_r4.png");*!*/
    /*width:302px;*/
    /*height: 145px;*/
/*}*/
/*#Index .bottomWheel{*/
    /*position: absolute;*/
    /*top: 851px;*/
    /*left:244px;*/
    /*!*background: url("../../img/index/face2_r2.png");*!*/
    /*width:198px;*/
    /*height: 198px;*/
/*}*/


/*#Read .bg{*/
    /*!*background: url("../../img/index/rules.png");*!*/
    /*width: 100%;*/
    /*height: 100%;*/
/*}*/
